a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
}
.h1-button {
  background: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.h1-button:hover {
  cursor: pointer;
}
.buttons {
  background: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  border-radius: 4px;
  border-style: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  padding-right: 93px;
}
.color-logo {
  color: #2196f3;
}
.menu {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  height: 80px;
}
.menu-buttons {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons {
  display: flex;
  gap: 50px;
}
.contacts {
  display: flex;
  align-items: center;
}
.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: #2196f3;
}
.menu-contact:hover svg {
  fill: #2196f3;
}
.contacts {
  display: flex;
  gap: 30px;
}
.menu-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #757575;
  display: flex;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.heading-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  background: #f5f4fa;
}
.heading-team-title,
.heading-clients {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-card {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  padding-top: 15px;
}
.team-position {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.image-backgroud {
  background: #ffffff;
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  padding-top: 60px;
}
.footer-background {
  background: #2f303a 40%;
}
.footer-contact-address {
  line-height: 1.71;
  color: #ffffff;
  padding-top: 20px;
}
.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
.advantages {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 55px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
}
.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
.project-border {
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-border:hover,
.project-border:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.solution-background {
  background-image: url(/goit-markup-hw-04/images/img0.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(47, 48, 58, 0.4);
}
.lorem {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
}
.team {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
}
.occupation {
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}
.project-buttons {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
  gap: 8px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-contacts {
  margin: 0 auto;
  padding: 0 0 60px 0;
}
.clients {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
}
.clients-background {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.client-icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icons:hover,
.client-icons:focus {
  fill: #2196f3;
  cursor: pointer;
}
.clients-background:hover,
.clients-background:focus {
  border: 1px solid #2196f3;
}
.social-icons-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 15px;
}
.social-icons-background {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #afb1b8;
  margin: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  fill: #ffffff;
}
.social-icons-background:hover,
.social-icons-background:focus {
  background-color: #2196f3;
}
.social-icons-background:hover .social-icon {
  fill: #ffffff;
}
.social-icons-background:focus .social-icon {
  fill: #ffffff;
}
.lorem-icons-backgroud {
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-icons {
  display: flex;
  gap: 30px;
  padding: 25px 102.34px;
}
.footer-columns {
  display: flex;
}
.footer-social {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 70px;
}
.social-header,
.newsletter-header {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.test {
  display: flex;
}
.footer-icon-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin-top: 20px;
}
.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #ffffff;
  margin: 12px;
}
.footer-icons:hover,
.footer-icons:focus {
  background-color: #2196f3;
}
.footer-newsletter {
  margin-top: 72px;
  margin-left: 70px;
  display: flex;
}
.newsletter-label {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  margin-right: 12px;
  outline: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
.send-icon {
  fill: #ffffff;
}
.envelope {
  fill: #757575;
}
.smartphone {
  fill: #757575;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  transform: rotate(180deg);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-icon {
  position: relative;
  top: 3px;
  height: 17px;
  width: 17px;
}
.modal {
  position: absolute;
  width: 528px;
  top: 221px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
}
.label-background {
  position: absolute;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.label {
  position: relative;
}
.label-text {
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 27px;
  letter-spacing: 0.03em;
}
.underline {
  position: relative;
  top: 28px;
  border-radius: 2px;
  background: #2196f3;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 53px;
  height: 4px;
  background-color: #2196f3;
}
.img-cover {
  transition-property: bacground-color;
}
.animation {
  position: relative;
  overflow: hidden;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  transition-property: backgroud-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.cover-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 301px;
  height: 196px;
}
.project-border:hover .cover,
.project-border:focus .cover {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}
.img {
  height: 100%;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
}
h3 {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}
.form-style {
  box-sizing: border-box;
}
.form-box {
  position: relative;
  width: 448px;
}
.input-icon {
  position: absolute;
  top: 14px;
  bottom: 14px;
  left: 15px;
  fill: #212121;
}
.input-style {
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-box {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: #2196f3;
}
.label-box:hover,
.label-box:focus {
  border: 1px solid #2196f3;
}
.input-style:hover svg,
.input-style:focus-within svg {
  fill: #2196f3;
}
.label-style {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  display: flex;
  margin-top: 10px;
  margin-bottom: 4px;
}
.textarea-style:hover,
.textarea-style:focus {
  border: 1px solid #2196f3;
}
.textarea-style {
  width: 448px;
  height: 120px;
  background-color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: #2196f3;
}
.submit-button-1 {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.submit-button-2 {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 38px;
}

.submit-button-2-style {
  display: flex;
  justify-content: space-evenly;
}
.checkbox-label {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.checkbox-input {
  appearance: none;
  width: 16px;
  height: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px #00000033;
  border-radius: 4px;
  border: 2px solid #212121;
}
.checkbox-icon {
  position: absolute;
  fill: #ffffff;
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
  visibility: visible;
  background-color: #2196f3;
}
.checkbox-style {
  display: flex;
  align-items: center;
  width: 100%;
}

.link {
  text-decoration: underline;
  color: #2196f3;
}
